@model IEnumerable<EFPizza.WebApp.Models.Reviews>

@{
    ViewData["Title"] = "Index";
}

<h2>Reviews Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Grade == 5)
                {
                    <div><img src="~/images/5stars.png" width="70"/></div>
                }
                else if (item.Grade == 4)
                {
                    <div><img src="~/images/4stars.png" width="70"/> </div>
                }
                else if (item.Grade == 3)
                {
                    <div><img src="~/images/3stars.png" width="70"/> </div>
                }
                else if (item.Grade == 2)
                {
                    <div><img src="~/images/2stars.png" width="70"/> </div>
                }
                else if (item.Grade == 1)
                {
                    <div><img src="~/images/1star.png" width="70"/> </div>
                }
                else
                {
                    <div><img src="~/images/0stars.png" width="70"/> </div>
                }
                @*@Html.DisplayFor(modelItem => item.Grade)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<hr />
<img src="~/images/epicsaxguy.gif" alt="Image Of epic saxguy gif" class="img-responsive"/>
<br />
<audio controls="controls">
    <source src="~/images/Epic%20sax%20guy%20is%20back!%202017%20EUROVISION%20MOLDOVA%202017.mp3" type="audio/mpeg" />
</audio>
