@model EFPizza.WebApp.Models.Ingredients

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gluten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gluten)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dd>
            @ViewBag.DisplayType
        </dd>
    </dl>
</div>

<p>
    <div><b>List of Pizzas:</b></div>

    @if (ViewBag.PizzaIngredients.Count != 0)
    {
        @foreach (var ing in ViewBag.PizzaIngredients)
        {
            <div> @ing </div>
        }
    }
    else
    {
        <div>No @Html.DisplayNameFor(Model => Model.PizzaIngredients) was found. </div>
    }
</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
