@model EFPizza.WebApp.Models.Pizzas

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4><b>Pizzas</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<p>
    <b>Origin of Pizza:</b>
    <br />
@if (Model.Orgins != null)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Orgins.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orgins.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orgins.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orgins.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orgins.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orgins.Date)
        </dd>
    </dl>
}
else
{
    <div>No @Html.DisplayNameFor(Model => Model.Orgins) was found. </div>
}
</p>

<p>
    <b>Reviews of Pizza:</b>
    <br />
    @if (ViewBag.Reviews.Count != 0)
    {
        @foreach (var rev in ViewBag.Reviews)
        {
            <dl class="dl-horizontal">
                <dt>
                    Title
                </dt>
                <dd>
                    @rev.Title
                </dd>
                <dt>
                    Description
                </dt>
                <dd>
                    @rev.Description
                </dd>
                <dt>
                    Grade (0-5)
                </dt>
                <dd>
                    @rev.Grade
                </dd>
                <dt>
                    Date
                </dt>
                <dd>
                    @rev.Date
                </dd>
            </dl>
        }
    }
    else
    {
        <div>No @Html.DisplayNameFor(Model => Model.Reviews) was found. </div>
    }
</p>

<p>
    <div><b>List of Ingredients:</b></div>

    @if (ViewBag.PizzaIngredients.Count != 0)
    {
        @foreach (var ing in ViewBag.PizzaIngredients)
        {
            <div> @ing </div>
        }
    }
    else
    {
        <div>No @Html.DisplayNameFor(Model => Model.PizzaIngredients) was found. </div>
    }
</p>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
